body {
    min-width: 30em;
}

div.screenshots {
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

div.screenshots img {
    width: 120px;
    border: thin solid #355F7C;
    margin-left: 10px;
    margin-top: 10px;
}

.downloaddescr {
    font-size: x-small;
}

.linkdescr {
    line-height : 130%;
}

a.external:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: xx-small;
  vertical-align: top;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f08e";
  margin-left: 2px;
}

.hidden {
    visibility:hidden;
}

#downloadButton {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

a.button {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  background-color: green;
  border: thin solid darkgreen;
  display: block;
  padding: 5px;
  color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

a.button:link {
    text-decoration: none;
}

a.button: visited {
    text-decoration: none;
    color: white;
}

a.button:hover {
    text-decoration: none;
    background-color: #009900;
}

a.button:active {
    text-decoration: none;
    background-color: #006600;
}

.featureddownload {
    margin-top: 5px;
    font-weight: bold;
    font-size: large;
}

div.header h2 {
    text-transform: none;
    color: gray;
}

a.altversionlink {
   color: #aaa;
   font-size: small;
   font-weight: normal;
   margin-top: -3px;
   margin-bottom: 0px;
}

#siteName {
   text-shadow: 1px 1px 2px gray;
   font-size: 32px;
   font-weight: bold;
}

a.icon-link {
    text-decoration: none;
    font-size: x-large;
    text-shadow: 1px 1px 2px gray;
}

i.fa {
    text-decoration: none;
    padding-right: 3px;
}

#qrcode {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

li {
 list-style-type: none;
}
